node_modules
frontend/node_modules
frontend/.next
frontend/.nuxt
frontend/.output
frontend/dist
.angular
target
backend/target
dist
tmp
logs
*.log
.env
.env.*
docker-compose*.yml
.git
.gitignore
.DS_Store
coverage
